.work-wrapper {
  width: 100%;
  padding: 0 8vw;
  display: flex;
  justify-content: center;
  color: white;
  display: flex;
  justify-content: center;
  color: white;
  line-height: 30px;
}

.default {
  margin: 7rem 6rem 1rem 6rem;
}

.left-container {
  width: 60%;
}
.right-container {
  width: 38%;
}

.left-container a {
  color: rgb(221, 123, 44);
}

.left-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
  /* border: 1px solid blue; */
}

.left-container ul, .left-container p {
  padding: 1rem 0;
}

.left-container ul {
  padding-left: 1rem;
}

.top-section,
.bottom-section {
  width: 40vw;
  height: fit-content;
}

.bottom-section {
  display: flex;
  gap: 3rem;
}

.bottom-section div {
  width: 50%;
}

.right-container {
  display: flex;
  align-items: center;
  margin: 0;
}

.right-container img {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
  object-fit: contain;
}

@media only screen and (max-width: 1400px) {

  .right-container {
    display: none;
  }

  .left-container {
    width: 100%;
  }

  .top-section,
  .bottom-section {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .bottom-section div {
    width: 100%;
  }
  .greeting {
    padding-top: 5vh;
  }

  .bottom-section {
    flex-wrap: wrap;
  }

}
